name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build, Test & Authenticate
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Set up Java
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 3. Compile the project
      - name: Compile project
        run: mvn clean compile

      # 4. Run Java application (demo purpose)
      - name: Run Java Application
        run: mvn exec:java -Dexec.mainClass=App

      # 5. Run unit tests
      - name: Run unit tests
        run: mvn test

      # =========================
      # CD PART STARTS HERE
      # =========================

      # 6. Authenticate GitHub Actions to Google Cloud
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 7. Install Google Cloud SDK
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      # 8. Set GCP project
      - name: Set GCP project
        run: gcloud config set project internal-sandbox-446612
