name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build & Run Java App
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Compile project
        run: mvn clean compile

      - name: Run Java Application
        run: mvn exec:java -Dexec.mainClass=App

      - name: Build project using Maven
        run: mvn clean compile
        
      - name: Run unit tests
        run: mvn test
