name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Set up Java
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 3️⃣ Build JAR using Maven
      - name: Build JAR
        run: mvn clean package

      # 4️⃣ Authenticate GitHub Actions to GCP
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 5️⃣ Install gcloud CLI
      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      # 6️⃣ Prepare VM (install Java, create app directory)
      - name: Prepare VM via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo apt update
            sudo apt install -y openjdk-17-jdk
            mkdir -p ~/app
            rm -rf ~/app/*

      # 7️⃣ Copy JAR from GitHub runner to VM
      - name: Copy JAR to VM
        run: |
            echo "${{ secrets.SSH_PRIVATE_KEY }}" > /tmp/ssh_key
            chmod 600 /tmp/ssh_key

            scp -o StrictHostKeyChecking=no \
            -i /tmp/ssh_key \
            target/github-actions-demo-1.0-SNAPSHOT.jar \
            ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }}:/home/${{ secrets.VM_USER }}/app/


      # 8️⃣ Run Java application on VM# 8️⃣ Run Java application on VM (background)
      - name: Run Java App
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
              nohup java -jar ~/app/github-actions-demo-1.0-SNAPSHOT.jar > ~/app/app.log 2>&1 &

      
